---
title: Concerts
layout: default
---

<div>
  <h1>Agenda</h1>
  
{% capture now %}{{ "now" | date: "%Y-%m-%d" }}{% endcapture %}
{% assign concerts = site.concerts | sort: "concert_1_date" | reverse %}

{% assign title_shown = false %}
{% for concert in concerts %}
  {% assign concert_date = concert.concert_1_date | date: "%Y-%m-%d" %}
  
  <p hidden>Examining {{ concert.concert_1_date }}</p>

  {% if concert_date < now %}
    {% continue %}
  {% endif %}

  {% if title_shown == false %}
    {% assign title_shown = true %}
    <h2>Prochains concerts</h2>
    <div class="grid-box -of2 -of3-lg -gutters">
  {% endif %}

  <a class="concert-card" href="{{ concert.url }}">
  {% if concert.affiche %}
    <figure>
      <img src="{{ concert.affiche }}" alt="" />
    </figure>
  {% else %}
    <div aspect-ratio="A4">
      <div>
        <p>{{ concert.title }}</p>
      {% if concert.description %}
        <p>{{ concert.description }}</p>
      {% endif %}
      </div>
    </div>
  {% endif %}
  </a>
{% endfor %}
{% if title_shown %}
  </div>
{% endif %}


  <h2>Concerts passés</h2>
  <div class="grid-box -of2 -of3-lg -gutters">


{% for concert in concerts %}
  {% assign concert_date = concert.concert_1_date | date: "%Y-%m-%d" %}
  
  <p hidden>Examining {{ concert.concert_1_date }}</p>

  {% if concert_date > now %}
    {% continue %}
  {% endif %}

  {% if title_shown == false %}
    {% assign title_shown = true %}
    <h2>Prochains concerts</h2>
    <div class="grid-box -of2 -of3-lg -gutters">
  {% endif %}

  <a class="concert-card" href="{{ concert.url }}">
  {% if concert.affiche %}
    <figure>
      <img src="{{ concert.affiche }}" alt="" />
    </figure>
  {% else %}
    <div aspect-ratio="A4">
      <div>
        <p>{{ concert.title }}</p>
      {% if concert.description %}
        <p>{{ concert.description }}</p>
      {% endif %}
      </div>
    </div>
  {% endif %}
  </a>
{% endfor %}


    <a class="concert-card" href="http://ims-lyon.com/concerts/75-concert-24-25-juin" target="_blank">
      <figure>
        <!--figcaption>Le dernier concert de l'IMSL</figcaption-->
        <img src="/images/affiches/24-25-juin-2016.jpg" alt="" />
      </figure>
    </a>
    <a class="concert-card" href="http://ims-lyon.com/concerts/74-concert-27-mai" target="_blank">
      <figure>
        <!--figcaption>Le concert du 27 mai</figcaption-->
        <img src="/images/affiches/concert du 27 mai.png" alt="" />
      </figure>
    </a><!---->
    <a class="concert-card" href="http://ims-lyon.com/concerts/70-dulcissime-jesu-janvier-2016" target="_blank">
      <figure>
        <!--figcaption>Le concert avec Céladon</figcaption-->
        <img src="/images/affiches/STELLA ORIENTALIS FLYER - light.jpg" alt="" />
      </figure>
    </a><!---->
  </div>
</div>
